* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}
body {
  font-family: "Poppins", sans-serif;

  overflow-x: hidden;
} 
.page{
    width: 100vw;
    height: 100vh;
}
.box{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    background-color: lightblue;
   
}
h1{
    transform: translateX(30px);
    font-size: 500px;
    color: #121212;
    text-transform: uppercase;
}
