*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}
body{
    overflow-x: hidden;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#page1{
    background-color: aquamarine;
}
#page2{
    background-color:lightsalmon;
}
#page3{
    background-color:lightgreen;
}
#box{
    background-color: rgb(237, 48, 48);
    width: 200px;
    /* transform: translateX(200px); */
    height: 200px;
}
 