*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
.part2{
    display: flex;
    gap: 20px;
}
.demo{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
 